<h1>Ratings for <%= beer.name %></h1>
<% if ratings.any? %>
    <table>
      <tr>
        <th>User</th>
        <th>Stars</th>
        <th>Created time</th>
      </tr>
  <% ratings.each_with_index do |rating| %>
      <tr>
        <td><%= User.find(rating.user_id).name %></td>
        <td><%= rating.stars %></td>
        <td><%= rating.created_at %></td>
        <td><%= link_to 'view', beer_rating_path(beer,rating) %></td>  
      </tr>
    <% end %>
  <% else %>
      <p>No review for this beer yet.</p>
  <% end %>
</table>

<%= button_to 'back to list of beers', beers_path, method: :"get" %>